/* ------------------------------------------------Géneral------------------------------------------- */
body {
    font-family: Arial, sans-serif; /* Police de caractères par défaut */
    color: #333; /* Couleur du texte */
    margin: 0;
    padding: 0;
    border: 0;
}

/* ----------------------------------------------------header------------------------------------ */
header {
    padding: 10px;
    text-align: center;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200807/pngtree-purple-dark-nebula-galaxy-background-image_386049.jpg'); /* Chemin de l'image de fond */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    height: 220px; /* Hauteur de votre header */
    color: #ffffff; /* Couleur du texte */
}

#LogoSite {
    max-width: 150px; /* Taille maximale du logo */
}

/* -------------------------------------------------------main------------------------------------------ */
main {
    padding: 40px;
    text-decoration: none; /* Supprime le soulignement du lien */
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 20px; /* Espacement entre les titres */
}

/* Styles pour transformer un lien en bouton */
a.bouton {
    display: inline-block;
    padding: 10px 20px; /* Espacement interne */
    background-color: #ca16ee; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur de fond */
}

a.bouton:hover {
    background-color: #6e004a; /* Couleur de fond au survol */
}


/* -----------------------------------------------------Footer-------------------------------------------------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Assurez-vous que le footer occupe toute la largeur */
}


.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer-nav ul li:last-child {
    margin-right: 0; /* Supprime le marging droit du dernier élément */
}

.footer-nav ul li a {
    text-decoration: none;
    color: #fff;
}
